flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Set destination","disabled":false,"info":""},{"id":"e64d941838d90ecd","type":"tab","label":"Scotiabank Visa Destination","disabled":false,"info":"","env":[]},{"id":"9a14ad092bbedd01","type":"tab","label":"Http Formatting","disabled":false,"info":"","env":[]},{"id":"3cc11d24.ff01a2","type":"comment","z":"f6f2187d.f17ca8","name":"WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work","info":"\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.","x":350,"y":80,"wires":[]},{"id":"0db24d52c35904cc","type":"switch","z":"f6f2187d.f17ca8","name":"Destination is empty","property":"input.destination_name","propertyType":"msg","rules":[{"t":"eq","v":"(no name)","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":1180,"wires":[["f76c64627078b4fe"],["eadedd0a3cbcd049"]]},{"id":"eadedd0a3cbcd049","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":585,"y":1180,"wires":[]},{"id":"c16c647da377fdbf","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":1745,"y":1500,"wires":[]},{"id":"cea5ac77e7798613","type":"switch","z":"f6f2187d.f17ca8","name":"Is Visa debit purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":1500,"wires":[["48aed77373153579"],["2cfdb9b5bc3f50eb"]]},{"id":"88653a107af49a3d","type":"switch","z":"f6f2187d.f17ca8","name":"Is Amazon","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Amazon.ca","vt":"str","case":false},{"t":"regex","v":"^AMZN Mktp CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1130,"y":2000,"wires":[["5e958b9359e632d3"],["5e958b9359e632d3"],["4673c33d2bc25a9a"]]},{"id":"2ad1b7acb2d0c87e","type":"link in","z":"f6f2187d.f17ca8","name":"Set destination","links":["466eb1d7727bcc95"],"x":105,"y":1180,"wires":[["0db24d52c35904cc"]]},{"id":"48aed77373153579","type":"function","z":"f6f2187d.f17ca8","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Visa Debit VISA DEBIT RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1500,"wires":[["494a8a8c6475dea1"]]},{"id":"5e958b9359e632d3","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Amazon","func":"msg.output.destination_name = \"Amazon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":2000,"wires":[["c16c647da377fdbf"]]},{"id":"1f886dc94300579a","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":555,"y":2860,"wires":[]},{"id":"121268c80c6b6d43","type":"switch","z":"f6f2187d.f17ca8","name":"Is Interac Retail purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Interac RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":2500,"wires":[["5fba25fb81c07707"],["d5ad60046f060bd2"]]},{"id":"494a8a8c6475dea1","type":"switch","z":"f6f2187d.f17ca8","name":"Is Paypal","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PAYPAL","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":780,"y":1500,"wires":[["e873e1dd1bbb808c"],["88653a107af49a3d"]]},{"id":"3ab07209cfc33760","type":"switch","z":"f6f2187d.f17ca8","name":"Is Etsy","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*ETSY.CO","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1170,"y":1500,"wires":[["1481ab757ed1e312"],["1f496181101bbff7"]]},{"id":"e873e1dd1bbb808c","type":"function","z":"f6f2187d.f17ca8","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"PAYPAL \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1500,"wires":[["3ab07209cfc33760"]]},{"id":"6a80c6a3a85b127c","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":1295,"y":1880,"wires":[]},{"id":"1481ab757ed1e312","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Etsy","func":"msg.output.destination_name = \"Etsy\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1480,"wires":[["c16c647da377fdbf"]]},{"id":"4673c33d2bc25a9a","type":"switch","z":"f6f2187d.f17ca8","name":"Is Microsoft","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Microsoft\\*Store","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1130,"y":2080,"wires":[["7929bc4df31f01ce"],["f9641b7d4e7ffc4b"]]},{"id":"7929bc4df31f01ce","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Microsoft","func":"msg.output.destination_name = \"Microsoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":2080,"wires":[["c16c647da377fdbf"]]},{"id":"5fba25fb81c07707","type":"function","z":"f6f2187d.f17ca8","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Interac RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2500,"wires":[["70faf87ef8bc2253"]]},{"id":"70faf87ef8bc2253","type":"switch","z":"f6f2187d.f17ca8","name":"Is Canadian Tire","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ CANADIAN TIRE #$","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1100,"y":2500,"wires":[["1b835f9dec017c5c"],["f31a8b2a57f823e4"]]},{"id":"f31a8b2a57f823e4","type":"switch","z":"f6f2187d.f17ca8","name":"Is HomeSense","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ HOMESENSE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1100,"y":2560,"wires":[["a8f2499788599daf"],["ea5fc3711e023d0a"]]},{"id":"1b835f9dec017c5c","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Canadian Tire","func":"msg.output.destination_name = \"Canadian Tire\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":2480,"wires":[["c16c647da377fdbf"]]},{"id":"a8f2499788599daf","type":"function","z":"f6f2187d.f17ca8","name":"set dest to HomeSense","func":"msg.output.destination_name = \"HomeSense\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":2560,"wires":[["c16c647da377fdbf"]]},{"id":"47d3337f42e9a255","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":1215,"y":2760,"wires":[]},{"id":"ecf23cafdd5c4237","type":"switch","z":"f6f2187d.f17ca8","name":"Is Fatburger","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ FATBURGER SEC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1090,"y":2700,"wires":[["d662a484fb111de1"],["47d3337f42e9a255"]]},{"id":"d662a484fb111de1","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Fatburger","func":"msg.output.destination_name = \"Fatburger\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":2700,"wires":[["c16c647da377fdbf"]]},{"id":"9d9cfdddcfdc7c04","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":1255,"y":2220,"wires":[]},{"id":"f9641b7d4e7ffc4b","type":"switch","z":"f6f2187d.f17ca8","name":"Is SkipTheDishes","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SKIPTHEDISHES","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1110,"y":2160,"wires":[["7a845ba42e9e71aa"],["9d9cfdddcfdc7c04"]]},{"id":"7a845ba42e9e71aa","type":"function","z":"f6f2187d.f17ca8","name":"set dest to SkipTheDishes","func":"msg.output.destination_name = \"SkipTheDishes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":2160,"wires":[["c16c647da377fdbf"]]},{"id":"d5ad60046f060bd2","type":"switch","z":"f6f2187d.f17ca8","name":"Is Preauthorized debit transfer","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Electronic Funds Transfer PREAUTHORIZED DEBIT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":2800,"wires":[["cd4d119dcf73ed5e"],["1f886dc94300579a"]]},{"id":"cd4d119dcf73ed5e","type":"function","z":"f6f2187d.f17ca8","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Electronic Funds Transfer PREAUTHORIZED DEBIT \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":2800,"wires":[["7b665d184422489f"]]},{"id":"7b665d184422489f","type":"switch","z":"f6f2187d.f17ca8","name":"Is Virgin","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^VIRGIN PLUS","vt":"str","case":false},{"t":"regex","v":"^VIRGIN MOBILE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1070,"y":2800,"wires":[["15acadbbde82f64b"],["15acadbbde82f64b"],["1c4724a61a41d1f3"]]},{"id":"1c4724a61a41d1f3","type":"link out","z":"f6f2187d.f17ca8","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":1205,"y":2880,"wires":[]},{"id":"15acadbbde82f64b","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Virgin Mobile","func":"msg.output.destination_name = \"Virgin Mobile\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":2800,"wires":[["aa27b0f33bb204ad"]]},{"id":"aa27b0f33bb204ad","type":"function","z":"f6f2187d.f17ca8","name":"set bill to Phone","func":"msg.output.bill_name = \"Phone\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":2800,"wires":[["c16c647da377fdbf"]]},{"id":"2cfdb9b5bc3f50eb","type":"switch","z":"f6f2187d.f17ca8","name":"Is Visa international debit purchase","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":1580,"wires":[["eec3d0e12461009d"],["121268c80c6b6d43"]]},{"id":"eec3d0e12461009d","type":"function","z":"f6f2187d.f17ca8","name":"Trim description","func":"msg.input.description = msg.input.description.replace(\"Point of Sale - Visa Debit INTL VISA DEB RETAIL PURCHASE \", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1580,"wires":[["494a8a8c6475dea1"]]},{"id":"1f496181101bbff7","type":"switch","z":"f6f2187d.f17ca8","name":"Is Ebay","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*EBAY CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1160,"y":1560,"wires":[["2c2171d25e355506"],["502e8675f7566b86"]]},{"id":"2c2171d25e355506","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Ebay","func":"msg.output.destination_name = \"Ebay\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":1560,"wires":[["c16c647da377fdbf"]]},{"id":"aeec479e9e5a819b","type":"switch","z":"f6f2187d.f17ca8","name":"Is Epic Games","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*EPICINT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1160,"y":1840,"wires":[["d8fbd254284c9d69"],["6a80c6a3a85b127c"]]},{"id":"d8fbd254284c9d69","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Epic Games","func":"msg.output.destination_name = \"Epic Games\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1820,"wires":[["c16c647da377fdbf"]]},{"id":"502e8675f7566b86","type":"switch","z":"f6f2187d.f17ca8","name":"Is Nexus Mods","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^\\*NEXUSMO ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1180,"y":1640,"wires":[["5e634094c6a1c686"],["aeec479e9e5a819b"]]},{"id":"5e634094c6a1c686","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Nexus Mods","func":"msg.output.destination_name = \"Nexus Mods\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":1640,"wires":[["c16c647da377fdbf"]]},{"id":"ea5fc3711e023d0a","type":"switch","z":"f6f2187d.f17ca8","name":"Is Dairy Queen","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^[0-9]+ DAIRY QUEEN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1100,"y":2620,"wires":[["35490318d87f5a85"],["ecf23cafdd5c4237"]]},{"id":"35490318d87f5a85","type":"function","z":"f6f2187d.f17ca8","name":"set dest to Dairy Queen","func":"msg.output.destination_name = \"Dairy Queen\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":2620,"wires":[["c16c647da377fdbf"]]},{"id":"f76c64627078b4fe","type":"switch","z":"f6f2187d.f17ca8","name":"Is Scotiabank visa purchase","property":"input.source_name","propertyType":"msg","rules":[{"t":"eq","v":"Scotia Momentum VISA Infinite","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":1380,"wires":[["2907d2d3aa0dbf14"],["cea5ac77e7798613"]]},{"id":"2907d2d3aa0dbf14","type":"link out","z":"f6f2187d.f17ca8","name":"Scotia VISA dest in","mode":"link","links":["9a45ba88ec1c7771"],"x":565,"y":1380,"wires":[]},{"id":"9a45ba88ec1c7771","type":"link in","z":"e64d941838d90ecd","name":"Scotia VISA dest in","links":["2907d2d3aa0dbf14"],"x":115,"y":140,"wires":[["e807533d6ea7e4eb"]]},{"id":"e807533d6ea7e4eb","type":"switch","z":"e64d941838d90ecd","name":"Is Amazon","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Amazon.ca","vt":"str","case":false},{"t":"regex","v":"^AMZN Mktp CA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":290,"y":200,"wires":[["07180b79d986a456"],["07180b79d986a456"],["fd92c80be9e23c10"]]},{"id":"07180b79d986a456","type":"function","z":"e64d941838d90ecd","name":"set dest to Amazon","func":"msg.output.destination_name = \"Amazon\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":200,"wires":[["2385e903b61cbab0"]]},{"id":"fd92c80be9e23c10","type":"switch","z":"e64d941838d90ecd","name":"Is Microsoft","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Microsoft\\*Subscription","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":290,"y":280,"wires":[["bed6f916a91b4db1"],["dfe0b7a3ed8ec9d9"]]},{"id":"bed6f916a91b4db1","type":"function","z":"e64d941838d90ecd","name":"set dest to Microsoft","func":"msg.output.destination_name = \"Microsoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["a30e3547f42baecf"]]},{"id":"dfe0b7a3ed8ec9d9","type":"switch","z":"e64d941838d90ecd","name":"Is SkipTheDishes","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SKIPTHEDISHES","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":360,"wires":[["2a5cb269088ecb35"],["0142cfe4e8dd7e0d"]]},{"id":"2a5cb269088ecb35","type":"function","z":"e64d941838d90ecd","name":"set dest to SkipTheDishes","func":"msg.output.destination_name = \"SkipTheDishes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":360,"wires":[["ef51e8206a3fee54"]]},{"id":"0142cfe4e8dd7e0d","type":"switch","z":"e64d941838d90ecd","name":"Is Safeway","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SAFEWAY #8904","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":260,"y":440,"wires":[["7b08d270a3733ae8"],["f01cd8e1ae02f6f5"]]},{"id":"7b08d270a3733ae8","type":"function","z":"e64d941838d90ecd","name":"set dest to Safeway","func":"msg.output.destination_name = \"Safeway\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":440,"wires":[["49b087e512238435"]]},{"id":"49b087e512238435","type":"function","z":"e64d941838d90ecd","name":"set bill to Groceries","func":"msg.output.bill_name = \"Groceries\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["1e691669b1a6c702"]]},{"id":"ef7c5990e4396c82","type":"switch","z":"e64d941838d90ecd","name":"Is Steam","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^STEAM PURCHASE","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":580,"wires":[["d07b352462a0113d"],["8821445103cd7f24"]]},{"id":"d07b352462a0113d","type":"function","z":"e64d941838d90ecd","name":"set dest to Steam","func":"msg.output.destination_name = \"Steam\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":580,"wires":[["e91d3d5f98723757"]]},{"id":"8821445103cd7f24","type":"switch","z":"e64d941838d90ecd","name":"Is Hughes","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^HUGHES PETROLEUM LTD","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":220,"y":660,"wires":[["5828f271b0dcd987"],["79272c1743a341a2"]]},{"id":"5828f271b0dcd987","type":"function","z":"e64d941838d90ecd","name":"set dest to Hughes","func":"msg.output.destination_name = \"Hughes\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":660,"wires":[["1d0cc427d5fc1dc9"]]},{"id":"901be7eaed216e24","type":"switch","z":"e64d941838d90ecd","name":"Is Memory Express","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^Memory Express, Inc\\.","vt":"str","case":false},{"t":"regex","v":"^MemoryExpress EDM S","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":250,"y":800,"wires":[["87557b919bc098b9"],["87557b919bc098b9"],["8a6fbb598ad84788"]]},{"id":"87557b919bc098b9","type":"function","z":"e64d941838d90ecd","name":"set dest to Memory Express","func":"msg.output.destination_name = \"Memory Express\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":800,"wires":[["3ef7b310851eaa35"]]},{"id":"8a6fbb598ad84788","type":"switch","z":"e64d941838d90ecd","name":"Is Ubisoft","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^UBISOFT EMEA SAS","vt":"str","case":false},{"t":"regex","v":"^UBISOFT\\s+SAN","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":220,"y":880,"wires":[["a6e6cea092e62704"],["a6e6cea092e62704"],["9f37df4424805a44"]]},{"id":"a6e6cea092e62704","type":"function","z":"e64d941838d90ecd","name":"set dest to Ubisoft","func":"msg.output.destination_name = \"Ubisoft\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":880,"wires":[["b742e5a764855e80"]]},{"id":"f01cd8e1ae02f6f5","type":"switch","z":"e64d941838d90ecd","name":"Is Superstore","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^REAL CDN SUPERSTORE #1","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":500,"wires":[["e8e0a3702ac9d2ec"],["ef7c5990e4396c82"]]},{"id":"e8e0a3702ac9d2ec","type":"function","z":"e64d941838d90ecd","name":"set dest to Superstore","func":"msg.output.destination_name = \"Real Canadian Superstore\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["49b087e512238435"]]},{"id":"1d0cc427d5fc1dc9","type":"function","z":"e64d941838d90ecd","name":"set bill to Fuel","func":"msg.output.bill_name = \"Fuel\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":660,"wires":[["0e0c0c6102fa4176"]]},{"id":"9f37df4424805a44","type":"switch","z":"e64d941838d90ecd","name":"Is Lego Store","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^LEGO, Southgate","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":1080,"wires":[["84f0a93bd866eaa0"],["014eaeefc4b94e94"]]},{"id":"84f0a93bd866eaa0","type":"function","z":"e64d941838d90ecd","name":"set dest to Lego Store","func":"msg.output.destination_name = \"LEGO\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1080,"wires":[["40210fac85ece8aa"]]},{"id":"014eaeefc4b94e94","type":"switch","z":"e64d941838d90ecd","name":"Is Coinamatic (laundry)","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^COINAMATIC","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":1160,"wires":[["f44929e0951bbed8"],["084f2e9ce570cf82"]]},{"id":"f44929e0951bbed8","type":"function","z":"e64d941838d90ecd","name":"set dest to Coinamatic (laundry)","func":"msg.output.destination_name = \"Coinamatic\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1160,"wires":[["f24275bc67a05b11"]]},{"id":"084f2e9ce570cf82","type":"switch","z":"e64d941838d90ecd","name":"Is Telus","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^TELUS PRE-AUTH PAYMENT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":1300,"wires":[["7f9ba9749cf90330"],["be656f042794b1a9"]]},{"id":"7f9ba9749cf90330","type":"function","z":"e64d941838d90ecd","name":"set dest to Telus","func":"msg.output.destination_name = \"Telus\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1300,"wires":[["cde1da70531a75e4"]]},{"id":"cde1da70531a75e4","type":"function","z":"e64d941838d90ecd","name":"set bill to Internet","func":"msg.output.bill_name = \"Internet\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1300,"wires":[["a3802e128b06235d"]]},{"id":"79272c1743a341a2","type":"switch","z":"e64d941838d90ecd","name":"Is Petro Canada","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^PETROCAN-","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":240,"y":720,"wires":[["197b0da969e1aa9e"],["901be7eaed216e24"]]},{"id":"197b0da969e1aa9e","type":"function","z":"e64d941838d90ecd","name":"set dest to Petro-Canada","func":"msg.output.destination_name = \"Petro-Canada\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":720,"wires":[["1d0cc427d5fc1dc9"]]},{"id":"be656f042794b1a9","type":"switch","z":"e64d941838d90ecd","name":"Is Walmart","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^WAL-MART SUPERCENTER","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":170,"y":1380,"wires":[["26728cb37edf5c2c"],["265b7701d88e0d2b"]]},{"id":"26728cb37edf5c2c","type":"function","z":"e64d941838d90ecd","name":"set dest to Walmart","func":"msg.output.destination_name = \"Walmart\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1380,"wires":[["144fe634aaef0eb1"]]},{"id":"7f3c58539de75705","type":"function","z":"e64d941838d90ecd","name":"set bill to Vehicle Insurance and Registration","func":"msg.output.bill_name = \"Vehicle Insurance and Registration\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1520,"wires":[["0836aa26ad14248e"]]},{"id":"6572cd5921e4ae91","type":"switch","z":"e64d941838d90ecd","name":"Is AMA","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^AMA CENTRE #52","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1520,"wires":[["ec9355c5dfa67347"],["77e2c78be117bd48"]]},{"id":"ec9355c5dfa67347","type":"function","z":"e64d941838d90ecd","name":"set dest to AMA","func":"msg.output.destination_name = \"AMA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1520,"wires":[["7f3c58539de75705"]]},{"id":"265b7701d88e0d2b","type":"switch","z":"e64d941838d90ecd","name":"Is IKEA","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^IKEA EDMONTON","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1440,"wires":[["3973e70507c797f5"],["6572cd5921e4ae91"]]},{"id":"3973e70507c797f5","type":"function","z":"e64d941838d90ecd","name":"set dest to IKEA","func":"msg.output.destination_name = \"IKEA\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1440,"wires":[["48915214beb417cd"]]},{"id":"77e2c78be117bd48","type":"switch","z":"e64d941838d90ecd","name":"Is Lowe's","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^LOWE'S EDMONTON SOUTH","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1620,"wires":[["8af036f4a84ef8a2"],["8f5784fafddffbaf"]]},{"id":"8af036f4a84ef8a2","type":"function","z":"e64d941838d90ecd","name":"set dest to Lowe's","func":"msg.output.destination_name = \"Lowe's\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1620,"wires":[["a65686b560e1f745"]]},{"id":"8f5784fafddffbaf","type":"switch","z":"e64d941838d90ecd","name":"Is Spotify","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^SPOTIFY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":160,"y":1720,"wires":[["3ebef33a1b5d9950"],["111c0d342ee96806"]]},{"id":"3ebef33a1b5d9950","type":"function","z":"e64d941838d90ecd","name":"set dest to Spotify","func":"msg.output.destination_name = \"Spotify\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1720,"wires":[["4742e0b24ad6fb7e"]]},{"id":"4742e0b24ad6fb7e","type":"function","z":"e64d941838d90ecd","name":"set bill to Subscription Services","func":"msg.output.bill_name = \"Subscription Services\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1720,"wires":[["15a4b5b397090a8f"]]},{"id":"111c0d342ee96806","type":"switch","z":"e64d941838d90ecd","name":"Is Epcor","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^KUBRA/EPCOR EZ-PAY FEE","vt":"str","case":false},{"t":"regex","v":"^EPCORWEBRECURRING","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":140,"y":1820,"wires":[["b46187ead061d32b"],["b46187ead061d32b"],["47df9e2dac5efc60"]]},{"id":"b46187ead061d32b","type":"function","z":"e64d941838d90ecd","name":"set dest to Epcor","func":"msg.output.destination_name = \"Epcor\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1820,"wires":[["d60a16be035334b3"]]},{"id":"d60a16be035334b3","type":"function","z":"e64d941838d90ecd","name":"set bill to Utilities","func":"msg.output.bill_name = \"Utilities\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1820,"wires":[["300b9dc67b69dff4"]]},{"id":"47df9e2dac5efc60","type":"switch","z":"e64d941838d90ecd","name":"Is Namaste","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^NAMASTE INDIA","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":150,"y":1940,"wires":[["4a4adf60e1dcc45d"],["7d977b3e3a49679f"]]},{"id":"4a4adf60e1dcc45d","type":"function","z":"e64d941838d90ecd","name":"set dest to Namaste","func":"msg.output.destination_name = \"Namaste\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1940,"wires":[["0aaf27924b01475a"]]},{"id":"7d977b3e3a49679f","type":"switch","z":"e64d941838d90ecd","name":"Is EPark","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^EDM EPARK ONLINE PAY","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":2040,"wires":[["c6f298f945ca36eb"],["eacb23927cc81c52"]]},{"id":"c6f298f945ca36eb","type":"function","z":"e64d941838d90ecd","name":"set dest to EPark","func":"msg.output.destination_name = \"EPark\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2040,"wires":[["24772f24d266eaad"]]},{"id":"eacb23927cc81c52","type":"switch","z":"e64d941838d90ecd","name":"Is Empire Park","property":"input.description","propertyType":"msg","rules":[{"t":"regex","v":"^NBX\\*RENT","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":2140,"wires":[["072d235559366b07"],["9c18f9dfb52ca3a6"]]},{"id":"072d235559366b07","type":"function","z":"e64d941838d90ecd","name":"set dest to Empire Park","func":"msg.output.destination_name = \"Empire Park\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2140,"wires":[["c9f53635a9ec9654"]]},{"id":"c9f53635a9ec9654","type":"function","z":"e64d941838d90ecd","name":"set bill to Rent","func":"msg.output.bill_name = \"Rent\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2140,"wires":[["509ce525c8ba0239"]]},{"id":"9c18f9dfb52ca3a6","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":315,"y":2220,"wires":[]},{"id":"2385e903b61cbab0","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":715,"y":200,"wires":[]},{"id":"a30e3547f42baecf","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":705,"y":280,"wires":[]},{"id":"1e691669b1a6c702","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":895,"y":440,"wires":[]},{"id":"0e0c0c6102fa4176","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":875,"y":660,"wires":[]},{"id":"e91d3d5f98723757","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":635,"y":580,"wires":[]},{"id":"3ef7b310851eaa35","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":675,"y":800,"wires":[]},{"id":"b742e5a764855e80","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":625,"y":880,"wires":[]},{"id":"ef51e8206a3fee54","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":675,"y":360,"wires":[]},{"id":"40210fac85ece8aa","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":605,"y":1080,"wires":[]},{"id":"f24275bc67a05b11","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":695,"y":1160,"wires":[]},{"id":"a3802e128b06235d","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":845,"y":1300,"wires":[]},{"id":"144fe634aaef0eb1","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":555,"y":1380,"wires":[]},{"id":"48915214beb417cd","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":535,"y":1440,"wires":[]},{"id":"0836aa26ad14248e","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":945,"y":1520,"wires":[]},{"id":"a65686b560e1f745","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":555,"y":1620,"wires":[]},{"id":"15a4b5b397090a8f","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":855,"y":1720,"wires":[]},{"id":"300b9dc67b69dff4","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":755,"y":1820,"wires":[]},{"id":"0aaf27924b01475a","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":555,"y":1940,"wires":[]},{"id":"24772f24d266eaad","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":535,"y":2040,"wires":[]},{"id":"509ce525c8ba0239","type":"link out","z":"e64d941838d90ecd","name":"Http Out","mode":"link","links":["2065bac4841cfe98"],"x":795,"y":2140,"wires":[]},{"id":"3422156801b91171","type":"http response","z":"9a14ad092bbedd01","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":560,"y":120,"wires":[]},{"id":"2065bac4841cfe98","type":"link in","z":"9a14ad092bbedd01","name":"Http out","links":["1c4724a61a41d1f3","1f886dc94300579a","47d3337f42e9a255","6a80c6a3a85b127c","9d9cfdddcfdc7c04","c16c647da377fdbf","eadedd0a3cbcd049","1bc47599f27c2210","df0b7125bb81596f","9c18f9dfb52ca3a6","2385e903b61cbab0","a30e3547f42baecf","1e691669b1a6c702","0e0c0c6102fa4176","e91d3d5f98723757","3ef7b310851eaa35","b742e5a764855e80","ef51e8206a3fee54","40210fac85ece8aa","f24275bc67a05b11","a3802e128b06235d","144fe634aaef0eb1","48915214beb417cd","0836aa26ad14248e","a65686b560e1f745","15a4b5b397090a8f","300b9dc67b69dff4","0aaf27924b01475a","24772f24d266eaad","509ce525c8ba0239"],"x":205,"y":120,"wires":[["6c3c98677b98227d"]]},{"id":"6c3c98677b98227d","type":"function","z":"9a14ad092bbedd01","name":"Prepare output","func":"msg.payload = msg.output;\n\nmsg.payload = {};\n\nconst keys = [\n    \"type\",\n    \"date\",\n    \"amount\",\n    \"description\",\n    \"source_id\",\n    \"destination_name\",\n    \"tags\",\n    \"original_source\",\n    \"import_hash_v2\",\n    \"notes\",\n    \"category_name\",\n    \"transaction_journal_id\",\n    \"bill_name\"\n];\nfor (const key of keys) {\n    if (key in msg.output) {\n        msg.payload[key] = msg.output[key];\n    }\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[["3422156801b91171"]]},{"id":"2fb60bad057ec485","type":"http in","z":"9a14ad092bbedd01","name":"Input","url":"/apply","method":"post","upload":false,"swaggerDoc":"","x":230,"y":60,"wires":[["74d7c30e8850a16f"]]},{"id":"74d7c30e8850a16f","type":"function","z":"9a14ad092bbedd01","name":"Prepare input","func":"msg.input = msg.payload;\nmsg.output = JSON.parse(JSON.stringify(msg.input));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["466eb1d7727bcc95"]]},{"id":"466eb1d7727bcc95","type":"link out","z":"9a14ad092bbedd01","name":"Http In","mode":"link","links":["2ad1b7acb2d0c87e"],"x":545,"y":60,"wires":[]}]