flows.json
[{"id":"a69df1cc3d44ad70","type":"tab","label":"Export flows","disabled":false,"info":"","env":[]},{"id":"ba3387d8c4ba1124","type":"tab","label":"Post-processing","disabled":false,"info":"","env":[]},{"id":"80e2e4bcc774b82f","type":"file in","z":"a69df1cc3d44ad70","name":"flows.json","filename":"/data/flows.json","filenameType":"str","format":"utf8","allProps":false,"x":240,"y":60,"wires":[["39846d681fc60b3b"]]},{"id":"1888823084e0a98d","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":60,"wires":[["27a255db48fad62d"]]},{"id":"f16db8939f2c9378","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["1888823084e0a98d"]]},{"id":"a5f77e77cd5be2bc","type":"file in","z":"a69df1cc3d44ad70","name":"flows_cred.json","filename":"/data/flows_cred.json","filenameType":"str","format":"utf8","allProps":false,"x":260,"y":140,"wires":[["e8a688bebd02d0b1"]]},{"id":"0ddfd7e8667fc727","type":"function","z":"a69df1cc3d44ad70","name":"Set output file name","func":"msg.filename = \"/external/flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["f8bc9d7cba181393"]]},{"id":"39846d681fc60b3b","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["f16db8939f2c9378"]]},{"id":"e8a688bebd02d0b1","type":"function","z":"a69df1cc3d44ad70","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["0ddfd7e8667fc727"]]},{"id":"f8bc9d7cba181393","type":"file","z":"a69df1cc3d44ad70","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":140,"wires":[["27a255db48fad62d"]]},{"id":"cf7b876a90575c50","type":"http in","z":"a69df1cc3d44ad70","name":"Input","url":"/export-flows","method":"post","upload":false,"swaggerDoc":"","x":50,"y":60,"wires":[["80e2e4bcc774b82f","a5f77e77cd5be2bc"]]},{"id":"6c23814ef803fe63","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1460,"y":60,"wires":[]},{"id":"05d521556dfcaab1","type":"catch","z":"a69df1cc3d44ad70","name":"","scope":null,"uncaught":false,"x":1060,"y":220,"wires":[["dfd73780bd322b26"]]},{"id":"63b61351e18b439a","type":"http response","z":"a69df1cc3d44ad70","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":1460,"y":220,"wires":[]},{"id":"dfd73780bd322b26","type":"function","z":"a69df1cc3d44ad70","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["63b61351e18b439a"]]},{"id":"27a255db48fad62d","type":"join","z":"a69df1cc3d44ad70","name":"","mode":"custom","build":"array","property":"filename","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":60,"wires":[["a740d78c4157ed40"]]},{"id":"a740d78c4157ed40","type":"function","z":"a69df1cc3d44ad70","name":"Prepare response payload","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["6c23814ef803fe63"]]},{"id":"89f60b01305b7ddd","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1280,"y":120,"wires":[]},{"id":"bf288044959c6028","type":"function","z":"ba3387d8c4ba1124","name":"Prepare payload","func":"msg.payload = msg.output;\n\nmsg.payload = {};\n\nconst keys = [\n    \"type\",\n    \"date\",\n    \"amount\",\n    \"description\",\n    \"destination_name\",\n    \"tags\",\n    \"original_source\",\n    \"import_hash_v2\",\n    \"notes\",\n    \"category_name\",\n    \"transaction_journal_id\",\n    \"bill_name\"\n];\nfor (const key of keys) {\n    if (key in msg.output) {\n        msg.payload[key] = msg.output[key];\n    }\n} \n\nif (\"source_id\" in msg.output) {\n    msg.payload[\"source_id\"] = msg.output[\"source_id\"];\n} else if (\"source_name\" in msg.output) {\n    msg.payload[\"source_name\"] = msg.output[\"source_name\"]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":120,"wires":[["89f60b01305b7ddd"]]},{"id":"386173e34ec177ab","type":"http in","z":"ba3387d8c4ba1124","name":"Input","url":"/apply","method":"post","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["bd687d1e7a04b502"]]},{"id":"bd687d1e7a04b502","type":"function","z":"ba3387d8c4ba1124","name":"Prepare input","func":"const payloadStr = JSON.stringify(msg.payload);\nmsg.input = JSON.parse(payloadStr);\nmsg.output = JSON.parse(payloadStr);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":60,"wires":[["01c1f8c16dd0f613"]]},{"id":"57f1995e41691864","type":"catch","z":"ba3387d8c4ba1124","name":"","scope":null,"uncaught":false,"x":100,"y":260,"wires":[["3017eab9f752b0a6"]]},{"id":"363078b35b8681c2","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":500,"y":260,"wires":[]},{"id":"3017eab9f752b0a6","type":"function","z":"ba3387d8c4ba1124","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["363078b35b8681c2"]]},{"id":"d0626505ac801bb7","type":"http in","z":"ba3387d8c4ba1124","name":"Extract key from description","url":"/extract-key/description","method":"post","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["883d4ed41040290f"]]},{"id":"883d4ed41040290f","type":"function","z":"ba3387d8c4ba1124","name":"prepare payload","func":"msg.payload = { key: msg.payload.description + \"_KEY\" };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["8b42454ed3accc8d"]]},{"id":"8b42454ed3accc8d","type":"http response","z":"ba3387d8c4ba1124","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":580,"y":200,"wires":[]},{"id":"eee77d02c9568da0","type":"function","z":"ba3387d8c4ba1124","name":"set destination","func":"msg.output.destination_name = msg.payload.value;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":60,"wires":[["e2f1ed4a5ed826e2"]]},{"id":"e2f1ed4a5ed826e2","type":"function","z":"ba3387d8c4ba1124","name":"set attributes","func":"const attributes = JSON.parse(msg.payload.valueValue);\nfor(const [key, value] of Object.entries(attributes?.attributes ?? {})) {\n    msg.output[key] = value;\n}\n\nfor (const tag of attributes.add_tags) {\n    if (msg.output.tags.indexOf(tag) === -1) {\n        msg.output.tags.push(tag);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":60,"wires":[["bf288044959c6028"]]},{"id":"01c1f8c16dd0f613","type":"function","z":"ba3387d8c4ba1124","name":"prepare for http","func":"msg.payload = {key: msg.input.description};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["383d80a1372c2f25"]]},{"id":"383d80a1372c2f25","type":"http request","z":"ba3387d8c4ba1124","name":"lookup account","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://pp/api/v1/lookup/action/store/get-key-value-value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":660,"y":60,"wires":[["c862ad6caa6f4ad9"]]},{"id":"e3efcf801aedabc3","type":"catch","z":"ba3387d8c4ba1124","name":"","scope":["383d80a1372c2f25"],"uncaught":false,"x":690,"y":120,"wires":[["bf288044959c6028"]]},{"id":"c862ad6caa6f4ad9","type":"switch","z":"ba3387d8c4ba1124","name":"found account?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":60,"wires":[["eee77d02c9568da0"],["bf288044959c6028"]]}]