flows.json
[{"id":"9a14ad092bbedd01","type":"tab","label":"Http Formatting","disabled":false,"info":"","env":[]},{"id":"75ed9947b362ccbc","type":"tab","label":"Export flows","disabled":false,"info":"","env":[]},{"id":"3422156801b91171","type":"http response","z":"9a14ad092bbedd01","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":500,"y":120,"wires":[]},{"id":"2065bac4841cfe98","type":"link in","z":"9a14ad092bbedd01","name":"Http out","links":["1c4724a61a41d1f3","1f886dc94300579a","47d3337f42e9a255","6a80c6a3a85b127c","9d9cfdddcfdc7c04","c16c647da377fdbf","eadedd0a3cbcd049","1bc47599f27c2210","df0b7125bb81596f","9c18f9dfb52ca3a6","2385e903b61cbab0","a30e3547f42baecf","1e691669b1a6c702","0e0c0c6102fa4176","e91d3d5f98723757","3ef7b310851eaa35","b742e5a764855e80","ef51e8206a3fee54","40210fac85ece8aa","f24275bc67a05b11","a3802e128b06235d","144fe634aaef0eb1","48915214beb417cd","0836aa26ad14248e","a65686b560e1f745","15a4b5b397090a8f","300b9dc67b69dff4","0aaf27924b01475a","24772f24d266eaad","509ce525c8ba0239","2aebf26aebd4f179","edfe36d2a4c95616","6d4dcd0ee1bab152","6313e7d68e66500d","4fcc3a6025eca3fe","a56c0f11103a65bd","d314dcb7c0a3d9ca","051a2639ab723c95","8dd7659d202cfb71","280c2481727415ba","6e5278c860e403db","aef3b4be9f4dbf9a","7f9c89547916ba3b","87cf0c84188c9e65","fe8b859bf1f88a47","3cc96fe11bdef967","8599d05c610b824e","b153103b718e3942","766e2331f78891e3","a427bff633be5662","184f77b3bb1b5616","685385a453f33866","d7d50f2a0b436b93","2065a4621552fd22","a478dbdb216c68db","dfaa9a964a421543","16fee368d9866574","279cf8a56030efb1","b7443391a55e06ec","9baf9560d6b34dcc","e72e5308e39b5265","466eb1d7727bcc95"],"x":195,"y":120,"wires":[["6c3c98677b98227d"]]},{"id":"6c3c98677b98227d","type":"function","z":"9a14ad092bbedd01","name":"Prepare output","func":"msg.payload = msg.output;\n\nmsg.payload = {};\n\nconst keys = [\n    \"type\",\n    \"date\",\n    \"amount\",\n    \"description\",\n    \"source_id\",\n    \"destination_name\",\n    \"tags\",\n    \"original_source\",\n    \"import_hash_v2\",\n    \"notes\",\n    \"category_name\",\n    \"transaction_journal_id\",\n    \"bill_name\"\n];\nfor (const key of keys) {\n    if (key in msg.output) {\n        msg.payload[key] = msg.output[key];\n    }\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["3422156801b91171"]]},{"id":"2fb60bad057ec485","type":"http in","z":"9a14ad092bbedd01","name":"Input","url":"/apply","method":"post","upload":false,"swaggerDoc":"","x":230,"y":60,"wires":[["74d7c30e8850a16f"]]},{"id":"74d7c30e8850a16f","type":"function","z":"9a14ad092bbedd01","name":"Prepare input","func":"msg.input = msg.payload;\nmsg.output = JSON.parse(JSON.stringify(msg.input));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":60,"wires":[["466eb1d7727bcc95"]]},{"id":"466eb1d7727bcc95","type":"link out","z":"9a14ad092bbedd01","name":"Http In","mode":"link","links":["2065bac4841cfe98"],"x":535,"y":60,"wires":[]},{"id":"4fa841dd2a2f3ed1","type":"catch","z":"9a14ad092bbedd01","name":"","scope":null,"uncaught":false,"x":240,"y":180,"wires":[["91c7eb54bc6b7d90"]]},{"id":"87c05427e1de5f6b","type":"http response","z":"9a14ad092bbedd01","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":640,"y":180,"wires":[]},{"id":"91c7eb54bc6b7d90","type":"function","z":"9a14ad092bbedd01","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["87c05427e1de5f6b"]]},{"id":"4bc95209.1caa0c","type":"file in","z":"75ed9947b362ccbc","name":"flows.json","filename":"/data/flows.json","filenameType":"str","format":"utf8","allProps":false,"x":240,"y":60,"wires":[["de0c86effb0e7897"]]},{"id":"5224e94d.0a1998","type":"file","z":"75ed9947b362ccbc","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":60,"wires":[["0ec0dc8f4384e231"]]},{"id":"5e94d86a.ae1428","type":"function","z":"75ed9947b362ccbc","name":"Set output file name","func":"msg.filename = \"/external/flows.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":60,"wires":[["5224e94d.0a1998"]]},{"id":"1e014466.7207fc","type":"file in","z":"75ed9947b362ccbc","name":"flows_cred.json","filename":"/data/flows_cred.json","filenameType":"str","format":"utf8","allProps":false,"x":260,"y":140,"wires":[["bb4a61bcee7f73d5"]]},{"id":"e7750033.69c91","type":"function","z":"75ed9947b362ccbc","name":"Set output file name","func":"msg.filename = \"/external/flows_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["3b176d5254a00d39"]]},{"id":"de0c86effb0e7897","type":"function","z":"75ed9947b362ccbc","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["5e94d86a.ae1428"]]},{"id":"bb4a61bcee7f73d5","type":"function","z":"75ed9947b362ccbc","name":"minify","func":"msg.payload = JSON.stringify(JSON.parse(msg.payload));\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["e7750033.69c91"]]},{"id":"3b176d5254a00d39","type":"file","z":"75ed9947b362ccbc","name":"","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":140,"wires":[["0ec0dc8f4384e231"]]},{"id":"0a2e38c2ae69ca0c","type":"http in","z":"75ed9947b362ccbc","name":"Input","url":"/export-flows","method":"post","upload":false,"swaggerDoc":"","x":50,"y":60,"wires":[["4bc95209.1caa0c","1e014466.7207fc"]]},{"id":"83e2b93dfc8c5d5f","type":"http response","z":"75ed9947b362ccbc","name":"","statusCode":"200","headers":{"Content-Type":"application/json"},"x":1460,"y":60,"wires":[]},{"id":"ece435a35e2735d1","type":"catch","z":"75ed9947b362ccbc","name":"","scope":null,"uncaught":false,"x":1060,"y":220,"wires":[["60b68a426e0e23fe"]]},{"id":"2aab4674d52fe38c","type":"http response","z":"75ed9947b362ccbc","name":"","statusCode":"500","headers":{"Content-Type":"application/json"},"x":1460,"y":220,"wires":[]},{"id":"60b68a426e0e23fe","type":"function","z":"75ed9947b362ccbc","name":"Prepare error payload","func":"msg.payload = msg.error;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":220,"wires":[["2aab4674d52fe38c"]]},{"id":"0ec0dc8f4384e231","type":"join","z":"75ed9947b362ccbc","name":"","mode":"custom","build":"array","property":"filename","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":60,"wires":[["e9adf2172faef373"]]},{"id":"e9adf2172faef373","type":"function","z":"75ed9947b362ccbc","name":"Prepare response payload","func":"msg.payload = msg.filename;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":60,"wires":[["83e2b93dfc8c5d5f"]]}]